@media (max-height: 4320px) { .section-3{height:4320px;} .section-2{height:4320px;} .section-1{height:4320px;} .section{height:4320px;}}

@media (max-height: 2880px) { .section-3{height:2880px ;} .section-2{height:2880px;} .section-1{height:2880px;} .section{height:2880px;}}

@media (max-height: 2160px) { .section-3{height:2160px;} .section-2{height:2160px;} .section-1{height:2160px;} .section{height4:2160px;}}

@media (max-height: 1440px) { .section-3{height:1440px;} .section-2{height:1440px;} .section-1{height:1440px;} .section{height:1440px;}}

@media (max-height: 1080px) { .section-3{height:1080px;} .section-2{height:1080px;} .section-1{height:1080px;} .section{height:1080px;}}

